<div class="edit-profile-modal">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <!-- Name -->
      <app-input
        label="Name"
        placeholder="Enter your name"
        type="text"
        [imageSrc]="'assets/svgimages/pen.svg'"
        width="100%"
        height="20px"
        margin="0 0 10px 0"
        formControlName="name"
      ></app-input>
  
      <!-- Email -->
      <app-input
        label="Email"
        placeholder="Enter your email"
        type="email"
        [imageSrc]="'assets/svgimages/Email.svg'"
        width="100%"
        height="20px"
        margin="0 0 10px 0"
        formControlName="email"
      ></app-input>
  
      <!-- Phone -->
      <app-input
        label="Phone"
        placeholder="Enter your phone number"
        type="text"
        [imageSrc]="'assets/svgimages/phone.svg'"
        width="100%"
        height="20px"
        margin="0 0 10px 0"
        formControlName="phone"
      ></app-input>
  
      <!-- Gender -->
      <app-select
        placeholder="Select Gender"
        [options]="genderOptions"
        [imageSrc]="'assets/svgimages/user.svg'"
        width="100%"
        height="40px"
        margin="0 0 10px 0"
        formControlName="gender"
      ></app-select>
  
      <!-- Location -->
      <app-input
        label="Location"
        placeholder="Enter your location"
        type="text"
        [imageSrc]="'assets/svgimages/job title.svg'"
        width="100%"
        height="20px"
        margin="0 0 10px 0"
        formControlName="location"
      ></app-input>
  
      <!-- Profile Picture Upload -->
      <div class="profile-picture-container">
        <label>Profile Picture</label>
        <div
          class="drop-zone"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (drop)="onDrop($event)"
          (click)="fileInput.click()"
        >
          <ng-container *ngIf="!previewImage">
            <img src="assets/svgimages/picture.svg" alt="file picture" width="18px" height="18px">
            <p> Select or Drop here</p>
          </ng-container>
          <img *ngIf="previewImage" [src]="previewImage" class="preview-image" />
        </div>
        <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden />
      </div>
  
      <!-- Save Button -->
      <app-meeting-button
      label="Save"
      backgroundColor="#AB0E1E"
      color="#ffffff"
      width="100%"
      fontSize="16px"
      fontWeight="400"
      borderRadius="8px"
      type="submit"
    ></app-meeting-button>
    </form>
  </div>
  