<div class="main-control">
    <app-tab [tabs]="tabsList" (tabChanged)="onTabChange($event)"></app-tab>
    <ng-container *ngIf="activeTab === 'Todays Meetings'">
        <app-employee-today-meetings></app-employee-today-meetings>
      </ng-container>
      <ng-container *ngIf="activeTab === 'Meetings'">
        <app-employee-dashboard-meetings></app-employee-dashboard-meetings>
      </ng-container>
      <ng-container *ngIf="activeTab === 'Meeting Invites'">
        <app-employee-meeting-invites></app-employee-meeting-invites>
      </ng-container>
      <ng-container *ngIf="activeTab === 'Meeting Approvals'">
        <app-employee-meeting-approval></app-employee-meeting-approval>
      </ng-container>
      <ng-container *ngIf="activeTab === 'Visitors'">
        <app-employee-visitors></app-employee-visitors>
      </ng-container>
  </div>

