<div 
  class="card" 
  [style.width]="cardWidth" 
  [style.height]="cardHeight" 
  [style.padding]="padding"
>
  <!-- Title + Icon at the top -->
  <p class="mainText" [style.fontSize]="titleFontSize">
    <app-svg-icon
      *ngIf="svgIcon"
      [icon]="svgIcon"
      [size]="iconSize"
      [color]="iconColor"
      [strokeWidth]="iconStrokeWidth"
    >
    </app-svg-icon>
    <app-image 
      *ngIf="imageSrc"
      [src]="imageSrc" 
      [alt]="title"
      [width]="'22px'" 
      [height]="'22px'"
      [borderRadius]="''"
      [color]="'red'"
    >
    </app-image>
    {{ title }}
  </p>

  <!-- Main Number -->
  <h2 [style.fontSize]="valueFontSize">{{ value }}</h2>

  <!-- Subtitle at the bottom -->
  <p class="secondText" [style.fontSize]="subtitleFontSize">{{ subtitle }}</p>
</div>
