.card {
  background-color: white;
  border-radius: 8px;
  border: 2px solid #E8E8E8;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.card .mainText {
  display: flex;
  align-items: center;
  color: #333;
  margin: 0;
  font-weight: 700;
  gap: 2px;
}

.card .mainText app-svg-icon {
  margin-right: 8px;
}

.card .mainText app-image {
  margin-right: 2px;
}

.card h2 {
  color: #000000;
  margin: 0;
}

.card .secondText {
  font-weight: 400;
  color: #666666;
  margin: 0;
}
