<div class="table-controls">
  <app-search-input
  [imageSrc]="'assets/images/search.png'"
    [placeholder]="'Search'"
    (search)="handleSearch($event)"
  >
  </app-search-input>
  <div class="table-buttons">
      <app-meeting-button
      label="Filter"
      [imageSrc]="'assets/images/Filter.png'"
      backgroundColor="#FFFFFF"
      color="#000000"
      width="128px"
      border="2px solid #E8E8E8"
      fontFamily="Helvetica Neue LT Com"
      fontSize="16px"
      fontWeight="400"
      borderRadius="8px"
      type="button"
      (buttonClick)="openFilterModal()"
    >
    </app-meeting-button>
        <app-meeting-button
          label="Delete"
          [imageSrc]="'assets/IconImages/delete.png'"          
          backgroundColor="#FFFFFF"
          color="#F30824"
          width="115px"
          border="2px solid #E8E8E8"
          fontFamily="Helvetica Neue LT Com"
          fontSize="16px"
          fontWeight="400"
          borderRadius="8px"
          type="button"
        >
        </app-meeting-button>
      <app-meeting-button
          label="Create Employee" 
          [imageSrc]="'assets/WhiteIcons/calendar.png'"        
          backgroundColor="#243444"
          color="#ffffff"
          width="150px"
          fontFamily="Helvetica Neue LT Com"
          fontSize="16px"
          fontWeight="400"
          borderRadius="8px"
          type="button"
          (click)="onButtonClick()"
        >
        </app-meeting-button>
    </div>
</div>

<app-table
  [columns]="columns"
  [rows]="tableData"
  [enableCheckbox]="true"
  (rowAction)="onRowAction($event)"
>
</app-table>

<app-modal
  [title]="'Edit Visitors Details'"
  [isVisible]="isEditModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  [position]="'top'"
  (close)="closeEditModal()"
>
  <app-edit-visitor
    [selectedVisitor]="selectedVisitor"
    (meetingUpdated)="updateVisitor($event)"
    (closeEdit)="closeEditModal()"
  ></app-edit-visitor>
</app-modal>

<!-- View Meeting Modal -->
<app-modal
  [title]="'Profile Details'"
  [isVisible]="isViewModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  [position]="'top'"
  (close)="isViewModalOpen = false"
>
  <app-view-visitor-details
    [selectedRow]="selectedVisitor"
    (closeModal)="isViewModalOpen = false"
    (editVisitor)="editVisitorFromView($event)"
    (deleteVisitor)="openDeleteModal($event)"
  ></app-view-visitor-details>
</app-modal>

<!-- Delete Confirmation Modal (Small) -->
<app-modal
  [title]="'Delete'"
  [isVisible]="isDeleteModalOpen"
  [width]="'400px'"
  [height]="'200px'"
  [position]="'center'"
  (close)="closeDeleteModal()"
>
  <p>Are you sure you want to delete this employee?</p>
  <app-meeting-button
    label="Delete"
    backgroundColor="#AB0E1E"
    color="#ffffff"
    width="100%"
    (buttonClick)="confirmDelete()"
  ></app-meeting-button>
</app-modal>

<!-- Filter Modal -->
<app-modal
  [title]="'Filter Employee'"
  [isVisible]="isFilterModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  [position]="'top'"
  (close)="closeFilterModal()"
>
  <app-filter-form
    (applyFilters)="applyFilters($event)"
    (resetFilters)="resetFilters()"
  ></app-filter-form>
</app-modal>

<app-modal
    [title]="'Create a Profile'"
    [isVisible]="isModalOpen"
    [width]="'1000px'"
    [height]="'500px'"
    [position]="'top'"
    (close)="closeAddModal()"
  >
    <form [formGroup]="addEmployeeForm" (ngSubmit)="submitNewEmployee()">
      <app-input
        placeholder="Enter Full Name"
        type="text"
        [imageSrc]="'assets/images/pen.png'"
        width="100%"
        height="20px"
        margin="0 0 10px 0"
        fontFamily="Helvetica Neue LT Com"
        formControlName="fullName"
      />
      <app-input
        label="Email"
        placeholder="Enter Email"
        type="email"
        [imageSrc]="'assets/images/Email.png'"
        width="100%"
        height="20px"
        margin="0 0 10px 0"
        fontFamily="Helvetica Neue LT Com"
        formControlName="email"
      />
      <app-input
        placeholder="Enter Phone Number"
        type="text"
        [imageSrc]="'assets/images/meeting room.png'"
        width="100%"
        height="20px"
        margin="0 0 10px 0"
        fontFamily="Helvetica Neue LT Com"
        formControlName="phone"
      />
      <app-select
        placeholder="Select Category"
        [options]="categoryOptions"
        [imageSrc]="'assets/images/user.png'"
        width="100%"
        height="40px"
        margin="0 0 10px 0"
        fontFamily="Helvetica Neue LT Com"
        formControlName="category"
      >
      </app-select>
      <app-select
        placeholder="Select Gender"
        [options]="genderOptions"
        [imageSrc]="'assets/images/user.png'"
        width="100%"
        height="40px"
        margin="0 0 10px 0"
        fontFamily="Helvetica Neue LT Com"
        formControlName="gender"
      >
      </app-select>
      <app-select
        placeholder="Select Branch "
        [options]="branchOptions"
        [imageSrc]="'assets/images/category.png'"
        width="100%"
        height="40px"
        margin="0 0 10px 0"
        fontFamily="Helvetica Neue LT Com"
        formControlName="branch"
      >
      </app-select>
      <app-select
        placeholder="Select Role"
        [options]="roleOptions"
        [imageSrc]="'assets/images/category.png'"
        width="100%"
        height="40px"
        margin="0 0 10px 0"
        fontFamily="Helvetica Neue LT Com"
        formControlName="role"
      >
      </app-select>
      <app-meeting-button
        label="Create"
        icon="fas fa-plus"
        backgroundColor="#AB0E1E"
        color="#ffffff"
        width="100%"
        fontFamily="Helvetica Neue LT Com"
        fontSize="16px"
        fontWeight="400"
        borderRadius="8px"
        type="submit"
      >
      </app-meeting-button>
    </form>
  </app-modal>

