.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-family: Helvetica Neue LT Com;
  }
  
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }

  label{
    font-size: 14px;
    font-family: Helvetica Neue LT Com;
    color: #000000;
  }
  