<form [formGroup]="editVisitorForm" (ngSubmit)="submitEdit()">
  <app-input
  label="Branch Name"
  placeholder="Enter Full Name"
  type="text"
  [imageSrc]="'assets/svgimages/pen.svg'"
  width="100%"
  height="20px"
  margin="0 0 10px 0"
  fontFamily=""
  formControlName="fullName"
/>
<app-input
  label="Email"
  placeholder="Enter Email"
  type="email"
  [imageSrc]="'assets/svgimages/Email.svg'"
  width="100%"
  height="20px"
  margin="0 0 10px 0"
  fontFamily=""
  formControlName="email"
/>
<app-input
  placeholder="Enter Phone Number"
  type="text"
  [imageSrc]="'assets/svgimages/meeting room.svg'"
  width="100%"
  height="20px"
  margin="0 0 10px 0"
  fontFamily=""
  formControlName="phone"
/>
<app-select
  placeholder="Select Gender"
  [options]="genderOptions"
  [imageSrc]="'assets/svgimages/user.svg'"
  width="100%"
  height="40px"
  margin="0 0 10px 0"
  fontFamily=""
  formControlName="gender"
>
</app-select>
<app-select
  placeholder="Select Branch "
  [options]="branchOptions"
  [imageSrc]="'assets/svgimages/category.svg'"
  width="100%"
  height="40px"
  margin="0 0 25px 0"
  fontFamily=""
  formControlName="branch"
>
</app-select>
    <app-meeting-button
      label="Save Changes"
      icon="fas fa-save"
      backgroundColor="#AB0E1E"
      hoverBackgroundColor="#e8e8e8"
      color="#ffffff"
      width="100%"
      fontFamily=""
      fontSize="16px"
      fontWeight="400"
      borderRadius="8px"
      type="submit"
    >
    </app-meeting-button>
  </form>
