<div *ngIf="upcomingmeetings.length > 0">
    <div class="table-controls">
      <p>Today</p>
    </div>
  
    <ng-container *ngFor="let meeting of upcomingmeetings">
        <app-meeting-invites-card 
          [meeting]="meeting" 
          (click)="openMeetingDetails(meeting)">
        </app-meeting-invites-card>
      </ng-container>
  </div>

  <!-- View Meeting Modal -->
  <app-modal
  [title]="'Meeting Details'"
  [isVisible]="isViewModalOpen"
  [width]="'800px'"
  [height]="'auto'"
  [position]="'top'"
  (close)="isViewModalOpen = false"
>
  <app-meeting-invite-details
    [selectedRow]="selectedRow" 
    (closeModal)="isViewModalOpen = false">
  </app-meeting-invite-details>
</app-modal>
  