.table-controls {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 1rem 0.2rem;
  }
  
  .table-buttons {
    display: flex;
    gap: 20px;
  }
  .cancel-text{
    color: #00000080;
    padding-bottom: 20px;
  }