.table-controls {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 2rem 0.2rem;
  }
  
  .table-buttons {
    display: flex;
    gap: 20px;
  }

  .webcam-container {
    display: flex;
    justify-content: center;
    /* gap: 1rem; */
    width: 100%;
    height: 300px;
    border: 2px solid #E8E8E8;
    align-items: center;
    border-radius: 8px;
    background: #FFFFFF;

    /* max-width: 500px; */
    /* margin-top: 2rem; */
  }

  ::ng-deep webcam video {
    width: 100% !important;
    max-width: 400px !important;
    height: 250px !important;
    max-height: 250px !important;
    object-fit: cover !important;
    border-radius: 8px;
    margin-top: 1.5rem;
  }

  .btn-div {
    display: flex;
    gap: 10px; /* Adds spacing between buttons */
    width: 100%; /* Ensure it takes full width */
    margin-top: 20px;
  }
  
  .btn-div app-meeting-button {
    flex: 1; /* Makes both buttons equal width */
    width: 100%;
    text-align: center;
  }
  
  .badge-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 150px;
    background-color: #FFF5F6;
    text-align: center;
    border: 1px solid #ddd;
}
.badge-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #a00;
    text-transform: uppercase;
}
.badge-content {
    display: flex;
    align-items: center;
    gap:10px;
}

.profile-image {
  width: 80px;  /* Set width */
  height: 80px; /* Set height */
  background-color: #ddd; /* Background color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-radius: 50%; /* Makes it round */
  border: 2px solid #ccc; /* Optional border */
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.details {
    flex-grow: 1;
    text-align: left;
}
.details p {
    font-size: 15px;
    margin: 13px 0;
    font-weight: bold;
    border-bottom: 1.52px solid #243444;
}
.details span {
    font-weight: normal;   
    display: inline-block;
    width: 70%;
    padding-bottom: 2px;
}
.delete-text{
  color: #00000080;
  margin-bottom: 24px;
}