<div class="table-controls">
  <app-search-input
  [imageSrc]="'assets/images/search.png'"
    [placeholder]="'Search for visitors...'"
    (search)="handleSearch($event)"
  >
  </app-search-input>
  <div class="table-buttons">
    <app-meeting-button
      label="Filter"
      [imageSrc]="'assets/svgimages/Filter.svg'"
      hoverBackgroundColor="#e8e8e8"
      backgroundColor="#FFFFFF"
      color="#000000"
      width="115px"
      border="2px solid #E8E8E8"
      fontSize="16px"
      fontWeight="400"
      borderRadius="8px"
      type="button"
      (buttonClick)="openFilterModal()"
    >
    </app-meeting-button>
  </div>
</div>

<app-table
  [columns]="columns"
  [rows]="tableData"
  [enableCheckbox]="true"
  (rowAction)="onRowAction($event)"
>
</app-table>

<app-modal
  [title]="'Edit Visitor'"
  [isVisible]="isEditModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  [position]="'top'"
  (close)="closeEditModal()"
>
  <app-edit-visitor
    [selectedVisitor]="selectedVisitor"
    (meetingUpdated)="updateVisitor($event)"
    (closeEdit)="closeEditModal()"
  ></app-edit-visitor>
</app-modal>

<!-- View Meeting Modal -->
<app-modal
  [title]="'Visitor Details'"
  [isVisible]="isViewModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  [position]="'top'"
  (close)="isViewModalOpen = false"
>
  <app-view-visitor-details
    [selectedRow]="selectedVisitor"
    (closeModal)="isViewModalOpen = false"
    (editVisitor)="editVisitorFromView($event)"
    (deleteVisitor)="openDeleteModal($event)"
    (printBadge)="openBadgeModal($event)"
  ></app-view-visitor-details>
</app-modal>

<!-- Delete Confirmation Modal (Small) -->
<app-modal
  [title]="'Cancel'"
  [isVisible]="isDeleteModalOpen"
  [width]="'400px'"
  [height]="'200px'"
  [position]="'center'"
  (close)="closeDeleteModal()"
>
  <p class="delete-text">Are you sure you want to cancel this visitor?</p>
  <app-meeting-button
    label="Delete"
    backgroundColor="#AB0E1E"
    color="#ffffff"
    width="100%"
    (buttonClick)="confirmDelete()"
  ></app-meeting-button>
</app-modal>

<!-- Filter Modal -->
<app-modal
  [title]="'Filter Visitor'"
  [isVisible]="isFilterModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  [position]="'top'"
  (close)="closeFilterModal()"
>
  <app-filter-form
    (applyFilters)="applyFilters($event)"
    (resetFilters)="resetFilters()"
  ></app-filter-form>
</app-modal>

<app-modal
  [title]="'Take a Picture'"
  [isVisible]="isSelfieModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  (close)="closeSelfieModal()"
>
  <div class="webcam-container">
    <webcam
      *ngIf="showWebcam"
      (imageCapture)="handleImage($event)"
      [trigger]="triggerObservable"
    ></webcam>
    <img *ngIf="capturedImage" [src]="capturedImage" class="captured-photo" />
  </div>

  <div class="btn-div">
    <app-meeting-button
      label="Cancel"
      icon="fas fa-times"
      backgroundColor="#243444"
      hoverBackgroundColor="#243444"
      borderRadius="8px"
      color="#ffffff"
      (click)="closeSelfieModal()"
      width="100%"
    ></app-meeting-button>

    <app-meeting-button
      label="Capture Image"
      icon="fas fa-camera"
      backgroundColor="#AB0E1E"
      borderRadius="8px"
      color="#ffffff"
      width="100%"
      (click)="captureAndOpenPrintBadge()"
    ></app-meeting-button>
  </div>
</app-modal>
<app-modal
  [title]="'Print Badge'"
  [isVisible]="isPrintBadgeModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  (close)="closePrintBadgeModal()"
>
  <div class="webcam-container">
    <div class="badge-container">
      <div class="badge-header">Andersen Consulting</div>
      <div class="badge-content">
        <div class="profile-image">
          <!-- <img src="profile.jpg" alt="Profile" /> -->
          <img
            *ngIf="capturedImage"
            [src]="capturedImage"
            class="badge-photo"
          />
        </div>
        <div class="details">
          <p>Name: <span>John Doe</span></p>
          <p>Who To See: <span>Jane Smith</span></p>
          <p>Floor: <span>2nd Floor</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="badge-preview">
    <img *ngIf="capturedImage" [src]="capturedImage" class="badge-photo" />
    <p>Visitor Badge</p>
  </div> -->

  <div class="btn-div">
    <!-- Retake Button -->
    <app-meeting-button
      label="Retake"
      icon="fas fa-redo"
      backgroundColor="#243444"
      hoverBackgroundColor="#243444"
      borderRadius="8px"
      color="#ffffff"
      width="100%"
      (click)="retakeImage()"
    ></app-meeting-button>

    <!-- Print Badge Button -->
    <app-meeting-button
      label="Print Badge"
      icon="fas fa-print"
      backgroundColor="#AB0E1E"
      borderRadius="8px"
      width="100%"
      color="#ffffff"
      (click)="printBadge()"
    ></app-meeting-button>
  </div>
</app-modal>


