<div class="data-table-container">
  <div class="data-table">
    <table>
      <thead>
        <tr>
          <th *ngIf="enableCheckbox">
            <input type="checkbox" />
          </th>
          <th *ngFor="let column of columns"> 
           <span class="table-icon">
            <img src="assets/svgimages/Sortred.svg" alt="Location Icon" class="footer-icon" />{{ column }}
           </span>
          </th>
          <th class="actions-column"></th>
              </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows | paginate: { itemsPerPage: 10, currentPage: currentPage }">
          <td *ngIf="enableCheckbox" class="checkbox-column">
            <input type="checkbox" />
          </td>
          <td *ngFor="let column of columns" [ngClass]="{'no-wrap': column === 'Date' || column === 'Time' || column === 'Room'}">
            <ng-container [ngSwitch]="getType(row[column])">
              <!-- Array handling (e.g., Participants) -->
              <ng-container *ngSwitchCase="'array'">
                <div class="array-items">
                  <span class="array-item" *ngFor="let item of row[column]; let last = last">
                    <ng-container *ngIf="isObject(item); else primitiveItem">
                      <span class="participant-initials participant">{{ item['initials'] }}</span>
                      <span class="participant-name">{{ item['name'] }}<span *ngIf="!last">, </span></span>
                    </ng-container>
                    <ng-template #primitiveItem>
                      <span class="participant-name">{{ item }}<span *ngIf="!last">, </span></span>
                    </ng-template>
                  </span>
                </div>
              </ng-container>
  
              <!-- Object handling.. organizer -->
              <ng-container *ngSwitchCase="'object'">
                <div class="object-item">
                  <span class="organizer-initials organizer-abb">{{ row[column]['initials'] }}</span>
                  <span class="organizer-name">{{ row[column]['name'] }}</span>
                </div>
              </ng-container>
  
              <ng-container *ngSwitchDefault>
                <!-- Special handling for Category (Approved/Pending/Declined) -->
                <ng-container *ngIf="column === 'Category'; else defaultValue">
                
                  <span
                    class="status-badge"
                    [ngClass]="{
                      'approved': row[column] === 'Approved',
                      'pending': row[column] === 'Pending',
                      'declined': row[column] === 'Declined'
                    }"
                  >
                    {{ row[column] }}
                  </span>
                </ng-container>
                <ng-template #defaultValue>
                  {{ row[column] }}
                </ng-template>
              </ng-container>
            </ng-container>
          </td>
          <td >
             <svg class="action-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" (click)="rowAction.emit({ row, action: 'view' })">
              <circle cx="5" cy="12" r="1" />
              <circle cx="12" cy="12" r="1" />
              <circle cx="19" cy="12" r="1" />
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Pagination Controls -->
  <div class="pagination">
    <pagination-controls class="custom-pagination"
      (pageChange)="onPageChange($event)"
    ></pagination-controls>
  </div>
</div>

 