<div class="input-wrapper" [style.width]="width">
  <!-- Image inside the input -->
  <app-image 
    [src]="imageSrc" 
    [width]="'16px'" 
    [height]="'16px'"
    [borderRadius]="''"
    [color]="'red'"
    [marginBottom]="'10px'"
    class="input-icon"
  >
  </app-image>

  <input
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onTouched()"
    [style.height]="height"
    [style.fontSize]="fontSize"
    [style.borderColor]="borderColor"
    [style.borderRadius]="borderRadius"
    [style.backgroundColor]="backgroundColor"
    [style.color]="color"
    [style.margin]="margin"
    [disabled]="disabled"
    [style.font-family]="fontFamily"
    class="input-field"
  />
</div>
