.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #E8E8E8;
  border-radius: 8px;
  padding: 0.7rem;
  /* background-color: #ffffff; */
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: white;
}
.search-container input{
  background-color: transparent;
  cursor: pointer; 
}
.search-icon {
  font-size: 18px;
  color: #888;
}

.search-bar {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
}

.search-bar::placeholder {
  color: #00000080;  
  font-size: 14px;
}

.search-container:hover{
  background-color: #e8e8e8c7;
}