<div class="navbar">
 <div class="navbar-wrap">
  <div class="navbar-logo">
    <img src="assets/images/newLogo.png" class="logo-image" alt="Logo" />
  </div>
  <div class="nav-links">
    <button
      (click)="navigate('/admin/layout/dashboard')"
      [class.active]="isActive('/admin/layout/dashboard')"
      class="nav-button"
    >
      Dashboard
    </button>
    <button
      (click)="navigate('/admin/layout/meetings')"
      [class.active]="isActive('/admin/layout/meetings')"
      class="nav-button"
    >
      Meetings
    </button>
    <button
      (click)="navigate('/admin/layout/calender')"
      [class.active]="isActive('/admin/layout/calender')"
      class="nav-button"
    >
      Calendar
    </button>
  </div>
  <div class="navbar-notification">
    <img src="assets/svgimages/notification1.svg" alt="Notification" class="notification-icon"  />
  </div>
 </div>
</div>
