<form [formGroup]="filterForm" (ngSubmit)="submitFilterForm()">
    <app-select
      placeholder="Select Category"
      [options]="categoryOptions"
      [imageSrc]="'assets/images/user.png'"
      width="100%"
      height="40px"
      margin="0 0 10px 0"
      fontFamily="Helvetica Neue LT Com"
      formControlName="category"
    >
    </app-select>
    <app-select
      placeholder="Select Gender"
      [options]="genderOptions"
      [imageSrc]="'assets/svgimages/user.svg'"
      width="100%"
      height="40px"
      margin="0 0 10px 0"
      formControlName="gender"
    >
    </app-select>
    <app-select
    placeholder="Sort by date"
    [options]="sortOptions"
    [imageSrc]="'assets/svgimages/Sort.svg'"
    width="100%"
    height="40px"
    margin="0 0 25px 0"
    formControlName="sort"
  >
  </app-select>
    <app-meeting-button
      label="Apply"
      icon="fas fa-plus"
      backgroundColor="#AB0E1E"
      color="#ffffff"
      width="100%"
      fontSize="16px"
      fontWeight="400"
      borderRadius="8px"
      type="submit"
    >
    </app-meeting-button>
  </form>
