<div class="textarea-wrapper" [style.width]="width">
    <!-- Image inside the textarea (optional) -->
    <app-image 
      *ngIf="imageSrc"
      [src]="imageSrc" 
      [width]="'16px'" 
      [height]="'16px'"
      [color]="'red'"
      [marginBottom]="''"
      class="textarea-icon"
    >
    </app-image>
  
    <textarea
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onTouched()"
      [style.height]="height"
      [style.fontSize]="fontSize"
      [style.borderColor]="borderColor"
      [style.borderRadius]="borderRadius"
      [style.backgroundColor]="backgroundColor"
      [style.color]="color"
      [style.margin]="margin"
      [disabled]="disabled"
      class="textarea-field"
    ></textarea>
  </div>
  