<div class="main-content">
  <!-- Profile and Stats -->
  <div class="summary-cards">
    <!-- Profile Card -->
    <div class="profile-card">
     <div class="profile-wrap">
      <div class="top-class">
        <div class="badge">
          <img src="assets/svgimages/person.svg" alt="" class="badge-icon">
          <p>
            Receptionist
          </p>
        </div>
        <!-- <div class="edit" (click)="onButtonEditClick()">✎</div> -->
        <button (click)="onButtonEditClick()" class="more-button">
          <!-- Inline SVG for MoreVertical icon -->
          <svg class="more-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <circle cx="12" cy="5" r="1" />
            <circle cx="12" cy="12" r="1" />
            <circle cx="12" cy="19" r="1" />
          </svg>
        </button>
       </div>
  
        <div class="avatar">
          <img *ngIf="profileImage" [src]="profileImage" alt="Profile Image" />
        </div>
        
        <div class="name">Kayode Gegele</div>
        <div class="email">kayode.gegeleverraki.com</div>
     </div>
    </div>

    <!-- Stats Cards -->
    <div class="summary">
      <app-card
        *ngFor="let card of summaryCards"
        [title]="card.title"
        [imageSrc]="card.imageSrc"
        [value]="card.value"
        [subtitle]="card.subtitle"
        [cardWidth]="'100%'"
        [cardHeight]="'125px'"
        [iconSize]="24"
        [iconColor]="'blue'"
        [titleFontSize]="'16px'"
        [valueFontSize]="'32px'"
        [subtitleFontSize]="'12px'"
      >
      </app-card>
    </div>
    <div class="otp-card" (click)="onButtonClick()">
      <div class="otp-icon">
        <!-- <div class="">●●●</div> -->
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" class="otp-box">
          <rect x="3" y="5" width="18" height="10" rx="2" strokeWidth="2" />
          <circle cx="8" cy="10" r="1" fill="white" />
          <circle cx="12" cy="10" r="1" fill="white" />
          <circle cx="16" cy="10" r="1" fill="white" />
        </svg>
      </div>    
      <p class="otp-text">Enter Meeting OTP</p>
    </div>
  </div>
  <app-receiptionist-dashboard-tab></app-receiptionist-dashboard-tab>
</div>
<app-modal
  [title]="'Enter One-Time Password (OTP)'"
  [isVisible]="isAddMeetingModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  [position]="'top'"
  (close)="closeAddMeetingModal()"
>
  <form [formGroup]="scheduleMeetingForm" (ngSubmit)="submitMeeting()">
    <app-input
      label="Meeting title"
      placeholder="Enter OTP code"
      type="text"
      [imageSrc]="'assets/svgimages/passcode.svg'"
      width="100%"
      height="24px"
      margin="0 0 10px 0"
      fontFamily=""
      formControlName="otp"
    ></app-input>
    <!-- <p>Confirm Modal Open: {{ isConfirmModalOpen }}</p> -->
    <app-meeting-button
      label="Verify OTP"
      icon="fas fa-eye"
      backgroundColor="#AB0E1E"
      color="#ffffff"
      width="100%"
      fontFamily=""
      fontSize="16px"
      fontWeight="400"
      borderRadius="8px"
      type="submit"
    ></app-meeting-button>
  </form>
</app-modal>

<app-modal
  [title]="'Confirm Details'"
  [isVisible]="isConfirmModalOpen"
  [width]="'1000px'"
  [height]="'600px'"
  [position]="'top'"
  (close)="closeConfirmModal()"
>
  <div class="details-container">
    <p>Meeting Details</p>
    <div class="details-main">
      <div class="detail-box" *ngFor="let detail of details">
        <div class="detail-title">
          <img [src]="detail.icon" alt="Detail Icon" class="detail-icon" />
          <span>{{ detail.title }}</span>
        </div>
        <div>{{ detail.value }}</div>
      </div>
      
    </div>
  </div>
  <form
    class="form-class"
    [formGroup]="confirmDetailsForm"
    (ngSubmit)="confirmDetails()"
  >
    <app-input
      label="Meeting title"
      placeholder="Meeting title"
      type="text"
      [imageSrc]="'assets/svgimages/pen.svg'"
      width="100%"
      height="20px"
      margin="0 0 10px 0"
      fontFamily=""
      formControlName="fullName"
      backgroundColor="#FFFFFF"
      [disabled]="true"
    ></app-input>
    <app-input
      label="Meeting title"
      placeholder="Meeting title"
      type="text"
      [imageSrc]="'assets/svgimages/Email.svg'"
      width="100%"
      height="20px"
      margin="0 0 10px 0"
      fontFamily=""
      formControlName="email"
      backgroundColor="#FFFFFF"
      [disabled]="true"
    ></app-input>
    <app-input
      label="Meeting title"
      placeholder="Meeting title"
      type="text"
      [imageSrc]="'assets/svgimages/phone.svg'"
      width="100%"
      height="20px"
      margin="0 0 10px 0"
      fontFamily=""
      formControlName="phone"
      backgroundColor="#FFFFFF"
      [disabled]="true"
    ></app-input>
    <app-checkbox
      formControlName="approvalRequired"
      id="approval"
      label="By proceeding, I agree to allow the collection and use of my details in accordance with our Privacy Policy"
    >
    </app-checkbox>
    <div class="btn-div">
      <!-- Retake Button -->
      <app-meeting-button
        label="Edit"
        backgroundColor="#243444"
        borderRadius="8px"
        color="#ffffff"
        width="100%"
      ></app-meeting-button>
      <!-- Print Badge Button -->
      <app-meeting-button
        label="Confirm"
        backgroundColor="#AB0E1E"
        borderRadius="8px"
        width="100%"
        color="#ffffff"
        type="submit"
      ></app-meeting-button>
    </div>
  </form>
</app-modal>

<app-modal
  [title]="'Take a Picture'"
  [isVisible]="isSelfieModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  (close)="closeSelfieModal()"
>
  <div class="webcam-container">
    <webcam
      *ngIf="showWebcam"
      (imageCapture)="handleImage($event)"
      [trigger]="triggerObservable"
    ></webcam>
    <img *ngIf="capturedImage" [src]="capturedImage" class="captured-photo" />
  </div>

  <div class="btn-div">
    <app-meeting-button
      label="Cancel"
      icon="fas fa-times"
      backgroundColor="#243444"
      borderRadius="8px"
      color="#ffffff"
      (click)="closeSelfieModal()"
      width="100%"
    ></app-meeting-button>

    <app-meeting-button
      label="Capture Image"
      icon="fas fa-camera"
      backgroundColor="#AB0E1E"
      borderRadius="8px"
      color="#ffffff"
      width="100%"
      (click)="captureAndOpenPrintBadge()"
    ></app-meeting-button>
  </div>
</app-modal>

<app-modal
  [title]="'Print Badge'"
  [isVisible]="isPrintBadgeModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  (close)="closePrintBadgeModal()"
>
  <div class="webcam-container">
    <div class="badge-container">
      <div class="badge-header">Andersen Consulting</div>
      <div class="badge-content">
        <div class="profile-image">
          <!-- <img src="profile.jpg" alt="Profile" /> -->
          <img
            *ngIf="capturedImage"
            [src]="capturedImage"
            class="badge-photo"
          />
        </div>
        <div class="details">
          <p>Name: <span>John Doe</span></p>
          <p>Who To See: <span>Jane Smith</span></p>
          <p>Floor: <span>2nd Floor</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="badge-preview">
    <img *ngIf="capturedImage" [src]="capturedImage" class="badge-photo" />
    <p>Visitor Badge</p>
  </div> -->

  <div class="btn-div">
    <!-- Retake Button -->
    <app-meeting-button
      label="Retake"
      icon="fas fa-redo"
      backgroundColor="#243444"
      borderRadius="8px"
      color="#ffffff"
      width="100%"
      (click)="retakeImage()"
    ></app-meeting-button>

    <!-- Print Badge Button -->
    <app-meeting-button
      label="Print Badge"
      icon="fas fa-print"
      backgroundColor="#AB0E1E"
      borderRadius="8px"
      width="100%"
      color="#ffffff"
      (click)="printBadge()"
    ></app-meeting-button>
  </div>
</app-modal>

<app-modal
  [title]="'Edit Profile'"
  [isVisible]="isEditProfileModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  [position]="'top'"
  (close)="closeEditProfileModal()"
>
  <app-edit-profile
    (profileUpdated)="updateProfile($event)"
    (closeModal)="isEditProfileModalOpen = false"
  ></app-edit-profile>
</app-modal>
