<button 
  [style.background-color]="backgroundColor"
  [style.--hover-bg-color]="hoverBackgroundColor"
  [style.color]="color"
  [style.width]="width"
  [style.height]="height"
  [style.border-radius]="borderRadius"
  [disabled]="disabled"
  [style.font-family]="fontFamily"
  [style.font-size]="fontSize"
  [style.font-weight]="fontWeight"
  [style.border]="border"
  [style.padding]="padding" 
  [attr.type]="type"
  (click)="handleClick()"
  class="dynamic-button"
>
  <i *ngIf="icon" [class]="icon" class="button-icon"></i>
  <app-image 
  *ngIf="imageSrc"
  [src]="imageSrc" 
  [width]="'18px'" 
  [height]="'18px'"
>
</app-image>
  <span>{{ label }}</span>
</button>
