/* Tabs Section */
.tabs-section {
    background-color: #AB0E1E0D;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 1rem;
}

.tabs {
    display: flex;
    gap: 1rem;
}

.tab {
    background: none;
    color: #00000080;
    border: none;
    padding: 1rem;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

/* Add hover effect */
.tab:hover:not(.active) {
    border-radius: 8px;
    background-color: #E8E8E8;
}

/* Style for active tab */
.tab.active {
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #AB0E1E;
}
