.view-modal {
    border: 2px solid #e8e8e8;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
    background-color: #FFFFFF;
}

.detail {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    padding: 10px 0;
    font-family: Helvetica Neue LT Com;
    font-weight: 400;
}

/* Ensure the image and text are properly aligned */
.view-icon {
    flex-shrink: 0; /* Prevents shrinking */
    display: inline-block;
    vertical-align: middle;
}

.view-value {
    font-size: 16px;
    color: #333;
    font-weight: 400;
}
