<div class="main-content">
  <div class="table-controls">
    <app-meeting-button
      label="New Meeting"
      icon="fas fa-plus"
      backgroundColor="#243444"
      color="#ffffff"
      width="150px"
      fontSize="16px"
      fontWeight="400"
      borderRadius="8px"
      type="button"
      (buttonClick)="onButtonClick()"
    >
    </app-meeting-button>
  </div>

  <div class="summary-cards">
    <div class="mini-card">
      <app-full-calender
        [allowedViews]="['dayGridMonth']"
        [initialView]="'dayGridMonth'"
        [headerToolbar]="{ left: 'prev', center: 'title', right: 'next' }"
        (dateClick)="onDateSelected($event)"
      ></app-full-calender>
    </div>

    <!-- Second Calendar (Week & Day Views Only) -->
    <div class="main-card">
      <app-full-calender
        #mainCalendar
        [allowedViews]="['timeGridWeek', 'timeGridDay']"
        [initialView]="'timeGridWeek'"
        [headerToolbar]="{ left: 'prev,next', center: 'title', right: 'timeGridWeek,timeGridDay' }"
      >
      </app-full-calender>
    </div>
  </div>
</div>

<app-modal
  [title]="'Schedule a Meeting'"
  [isVisible]="isAddMeetingModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  [position]="'top'"
  (close)="closeAddMeetingModal()"
>
  <form [formGroup]="scheduleMeetingForm" (ngSubmit)="submitMeeting()">
    <app-input
      label="Meeting title"
      placeholder="Meeting title"
      type="text"
      [imageSrc]="'assets/svgimages/pen.svg'"
      width="100%"
      height="20px"
      margin="0 0 10px 0"
      formControlName="title"
    ></app-input>

    <app-textarea
      [placeholder]="'Type your message...'"
      [width]="'100%'"
      [height]="'40px'"
      [fontSize]="'16px'"
      [borderRadius]="'8px'"
      [backgroundColor]="'#f9f9f9'"
      [color]="'#333'"
      margin="0 0 10px 0"
      [imageSrc]="'assets/svgimages/list.svg'"
    ></app-textarea>
    <app-date-time-input
      placeholder="Start date"
      type="date"
      width="100%"
      height="20px"
      margin="0 0 10px 0"
      [imageSrc]="'assets/svgimages/calendar.svg'"
      formControlName="startDate"
    />

    <div class="time-div">
      <app-date-time-input
        placeholder="Time"
        type="time"
        width="100%"
        height="20px"
        margin="0 0 10px 0"
          [imageSrc]="'assets/svgimages/clock.svg'"
        formControlName="startTime"
      />
      <app-date-time-input
        placeholder="Time"
        type="time"
        width="100%"
        height="20px"
        margin="0 0 10px 0"
          [imageSrc]="'assets/svgimages/clock.svg'"
        formControlName="endTime"
      />
    </div>
    <app-select
      placeholder="Select meeting room"
      [options]="meetingRoomsOptions"
      [imageSrc]="'assets/svgimages/meeting room.svg'"
      width="100%"
      height="40px"
      margin="0 0 10px 0"
      formControlName="meetingRoom"
    >
    </app-select>

    <app-input
      label="Enter participants name or email"
      placeholder="Enter participants name or email"
      type="text"
      [imageSrc]="'assets/svgimages/participants.svg'"
      width="100%"
      height="20px"
      margin="0 0 10px 0"
      formControlName="participants"
    ></app-input>

    <app-meeting-button
      label="Preview"
      icon="fas fa-eye"
      backgroundColor="#AB0E1E"
      color="#ffffff"
      width="100%"
      fontSize="16px"
      fontWeight="400"
      borderRadius="8px"
      type="submit"
    ></app-meeting-button>
  </form>
</app-modal>
