<div class="view-modal" *ngIf="record?.length">
    <div class="detail" *ngFor="let item of record">
      <!-- Display Image Icon (if present) -->
      <app-image 
        *ngIf="item.icon" 
        [src]="item.icon" 
        [width]="'22px'" 
        [height]="'22px'" 
        [borderRadius]="'5px'"
        class="view-icon"
      ></app-image>
  
      <!-- Display Value -->
      <span class="view-value">{{ item.value }}</span>
    </div>
  
    <!-- Buttons (Placed Outside the Loop) -->
    <div class="btn-div">
      <app-meeting-button
        label="Decline"
        backgroundColor="#243444"
        hoverBackgroundColor="#243444"
        borderRadius="8px"
        color="#ffffff"
        width="100%"
        class="btn"
      ></app-meeting-button>
      
      <app-meeting-button
        label="Accept"
        backgroundColor="#AB0E1E"
        borderRadius="8px"
        width="100%"
        color="#ffffff"
      ></app-meeting-button>
    </div>
  </div>
  