.view-modal {
    border: 2px solid #e8e8e8;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
    background-color: #FFFFFF;
}

.detail {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    padding: 8px 0;
    font-weight: 400;
}

/* Ensure the image and text are properly aligned */
.view-icon {
    flex-shrink: 0; /* Prevents shrinking */
    display: inline-block;
    vertical-align: middle;
}

.view-value {
    font-size: 14px;
    color: #333;
    font-weight: 400;
}
.btn-div {
    display: flex;
    gap: 10px; /* Space between buttons */
    width: 100%; /* Full width of the parent container */
    margin-top: 20px;
  }
  
  app-meeting-button {
    flex: 1; /* Ensures both buttons take equal space */
  }