<div class="main-content">
  <!-- Profile and Stats -->
  <div class="summary-cards">
    <!-- Profile Card -->
    <div class="profile-card">
      <div class="badge"><i></i> Admin</div>
      <div class="edit" (click)="onButtonEditClick()">✎</div>
      <div class="avatar"></div>
      <div class="name">Kayode Gegele</div>
      <div class="email">kayode.gegeleverraki.com</div>
    </div>

    <!-- Stats Cards -->
    <div class="summary">
      <app-card
        *ngFor="let card of summaryCards"
        [imageSrc]="card.imageSrc"
        [title]="card.title"
        [value]="card.value"
        [subtitle]="card.subtitle"
        [cardWidth]="'240px'"
        [cardHeight]="'110px'"
      >
      </app-card>
    </div>
  </div>
  <app-admin-dashboard-tab></app-admin-dashboard-tab>
</div>

<app-modal
  [title]="'Edit Profile'"
  [isVisible]="isEditProfileModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  [position]="'top'"
  (close)="closeEditProfileModal()"
>
  <app-edit-profile
    (profileUpdated)="updateProfile($event)"
    (closeModal)="isEditProfileModalOpen = false"
  ></app-edit-profile>
</app-modal>
