<div class="main-content">
  <!-- Profile and Stats -->
  <div class="summary-cards">
    <!-- Profile Card -->
    <!-- <div class="profile-card">
      <div class="badge"><i></i> Admin</div>
      <div class="edit" (click)="onButtonEditClick()">✎</div>
      <div class="avatar"></div>
      <div class="name">Kayode Gegele</div>
      <div class="email">kayode.gegeleverraki.com</div>
    </div> -->
    <div class="profile-card">
      <div class="profile-wrap">
        <div class="top-class">
          <div class="badge">
            <img src="assets/svgimages/person.svg" alt="" class="badge-icon">
            <p>
              Admin
            </p>
          </div>
          <!-- <div class="edit" (click)="onButtonEditClick()">✎</div> -->
          <button (click)="onButtonEditClick()" class="more-button">
            <!-- Inline SVG for MoreVertical icon -->
            <svg class="more-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="19" r="1" />
            </svg>
          </button>
         </div>
    
          <div class="avatar">
            <img *ngIf="profileImage" [src]="profileImage" alt="Profile Image" />
          </div>
          
          <div class="name">Kayode Gegele</div>
          <div class="email">kayode.gegeleverraki.com</div>
       </div>
    </div>

    <!-- Stats Cards -->
    <div class="summary">
      <app-card
        *ngFor="let card of summaryCards"
        [imageSrc]="card.imageSrc"
        [title]="card.title"
        [value]="card.value"
        [subtitle]="card.subtitle"
        [cardWidth]="'100%'"
        [cardHeight]="'125px'"
        [iconSize]="24"
        [titleFontSize]="'15px'"
        [valueFontSize]="'30px'"
        [subtitleFontSize]="'12px'"
      >
      </app-card>
    </div>
  </div>
  <app-admin-dashboard-tab></app-admin-dashboard-tab>
</div>

<app-modal
  [title]="'Edit Profile'"
  [isVisible]="isEditProfileModalOpen"
  [width]="'1000px'"
  [height]="'500px'"
  [position]="'top'"
  (close)="closeEditProfileModal()"
>
  <app-edit-profile
    (profileUpdated)="updateProfile($event)"
    (closeModal)="isEditProfileModalOpen = false"
  ></app-edit-profile>
</app-modal>
