<div class="meeting-card">
  <div class="meeting-header">
    <div class="meeting-title">
      <img src="assets/svgimages/calendarplus.svg" alt="Calendar" class="icon-img" />
      <span>{{ meeting.title }}</span>
    </div>
    <div class="meeting-time">
      <span>{{ meeting.date }} | {{ meeting.time }}</span>
    </div>
  </div>

  <div class="meeting-participants">
    <img src="assets/IconImages/participants 3.png" alt="Participants" class="icon-img" />
    <div class="participants-list">
      <ng-container
        *ngFor="let participant of meeting.participants.slice(0, 4); let last = last"
      >
        <span class="participant">
          <span class="avatar">{{ participant.initials }}</span>
          {{ participant.name }}<span *ngIf="!last">,</span>
        </span>
      </ng-container>
      <span class="more" *ngIf="meeting.participants.length > 4">
        +{{ meeting.participants.length - 4 }} more
      </span>
    </div>
  </div>

  <div class="meeting-location">
    <img src="assets/IconImages/meeting room.png" alt="Location" class="icon-img" />
    <span>{{ meeting.location }}</span>
  </div>
  </div>
